TemperatureService/ConsoleClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TemperatureCalc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TemperatureService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemperatureCalc_GetCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCelsius" />
  </wsdl:message>
  <wsdl:message name="ITemperatureCalc_GetCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperatureCalc_GetFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFahrenheit" />
  </wsdl:message>
  <wsdl:message name="ITemperatureCalc_GetFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFahrenheitResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemperatureCalc">
    <wsdl:operation name="GetCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureCalc/GetCelsius" message="tns:ITemperatureCalc_GetCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureCalc/GetCelsiusResponse" message="tns:ITemperatureCalc_GetCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureCalc/GetFahrenheit" message="tns:ITemperatureCalc_GetFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureCalc/GetFahrenheitResponse" message="tns:ITemperatureCalc_GetFahrenheit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemperatureCalc" type="tns:ITemperatureCalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCelsius">
      <soap:operation soapAction="http://tempuri.org/ITemperatureCalc/GetCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFahrenheit">
      <soap:operation soapAction="http://tempuri.org/ITemperatureCalc/GetFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemperatureCalc">
    <wsdl:port name="BasicHttpBinding_ITemperatureCalc" binding="tns:BasicHttpBinding_ITemperatureCalc">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TemperatureService/TemperatureCalc/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>