MortgageCalcService/WinClient/Connected Services/ServiceReference1/MortgageCalcService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MortgageCalcService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MortgageCalcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Loan">
    <xs:sequence>
      <xs:element minOccurs="0" name="InterestRate" type="xs:double" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Term" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
</xs:schema>